#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Austere
Exec=/usr/local/bin/austere.py %u
#Terminal=True
Icon=view-refresh
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
