[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clint = "==0.5.1"
psutil = "*"
attrs = "*"
click = "*"
pywin32 = {version = "*", sys_platform = "== 'win32'"}

[dev-packages]

[requires]
python_version = "3.7"
